@media all and (max-width: 1200px)
    .headerBox
        padding: 10px

    .portfolioBox
        max-width: 545px
        padding: 0 15px
        box-sizing: border-box

    .portfolioTitle
        margin-bottom: 40px

    .videoBoxContainer
        flex-direction: column
        margin-top: 0
        .videoBox
            margin-bottom: 25px

    .milestoneContainer
        flex-direction: column
        margin-top: 100px

    .milestoneBox
        text-align: center

    .imgBoxS
        order: 2

    .milestoneDescription
        margin: 25px 0

    .advantagesBox
        margin-top: 100px

    .downloadBtnBr
        margin: 0 auto
        margin-bottom: 25px

    .imgBoxS .positionAbs
        display: none

    .imgBoxS img
        width: 300px
        height: 380px

    .advantagesContainer
        flex-direction: column
        margin-top: 25px
        .advantage
            margin-top: 25px

    .answerQuestionBox
        max-width: 545px
        flex-direction: column
        margin-top: 100px
        .cameraImg
            order: 2

    .accordion
        margin-bottom: 50px

    .formBox
        flex-direction: column

    .formBox form
        margin-bottom: 50px

    .cameraImg
        width: 350px
        height: 480px

    .answerTitle, .formTitle
        text-align: center

    .answerQuestionBox .imgAbsoluteBottom, .answerQuestionBox .imgAbsoluteTop
        display: none

    .imgFormBox
        display: none

    .footerBox
        margin-top: 25px

    .milestoneBox.borderLft:after,
    .imgBoxS.borderTop:after,
    .imgBoxS.borderTop:before,
    .milestoneBox.borderTop:after,
    .milestoneBox.borderTop:before,
    .imgBoxS.borderRgt:after,
    .imgBoxS.borderRgt:before,
    .milestoneItem
        display: none

    .itemBox
        justify-content: center
        img 
            margin-right: 15px

@media all and (max-width: 1000px)
    .poopUpBox
        display: block
        iframe
            margin-top: 10vh
        
    .borderBox
        padding: 25px 15px

    .milestoneContainer
        margin-top: 0
        margin-bottom: 50px

@media all and (max-width: 800px)
    .socialLink
        max-width: 140px
        img 
            height: 20px

    .verticalLine
        height: 20px

    .mailNumber
        max-width: 280px

    .contactsBox
        max-width: 460px

    .logoIcon img
        height: 40px
        position: relative
        top: 3px

    .headerBox
        padding: 5px 15px

    .contentBanner
        padding: 10px
        box-sizing: border-box

    .titleTextBgr
        line-height: 46px
        font-size: 36px

    .borderBox
        font-size: 14px
        line-height: 18px
        padding: 30px 15px

    .bgrButtonBox
        max-width: 280px
        .btnLeft
            max-width: 130px
            height: 44px
            font-size: 12px
        .btnRight
            max-width: 130px
            height: 44px
            font-size: 12px
            padding-top: 2px

    .portfolioBox .imgAbsoluteBottom, .imgAbsoluteTop
        display: none

    .formBox form .positionAbs
        display: none

    .milestoneContainerBox
        padding: 0 15px

    .milestoneDescription
        font-size: 14px

    .advantagesContainer .advantage .advantageDescription
        font-size: 14px
        line-height: 25px

    .answerQuestionBox
        padding: 0 15px
        box-sizing: border-box

    .accordion .title
        font-size: 14px

    .accordion .content
        font-size: 14px

    .portfolioTitle, .milestoneTitle, .advantagesBoxTitle, .answerTitle, .formTitle
        font-size: 24px

    .formBox
        margin-top: 80px
        padding: 0 15px
        box-sizing: border-box

    .formBox form input, .formBox form textarea
        font-size: 14px
        padding: 12px

    .btnSubmit
        width: 120px
        height: 40px

    .file-upload, .downloadBttnF
        width: 95px

    .downloadBttnF
        font-size: 12px

    .file-select-name
        font-size: 12px

    .formBox form
        margin-bottom: 30px

    .advantagesContainer .advantage .advantageTitle
        font-size: 18px

    .downloadBtnBr
        width: 130px
        height: 44px

    .mailText, .phoneText
        font-size: 14px

    .imgClose
        top: 25px
        right: 25px

    .videoBoxContainer .videoBox .fontsBlock p
      font-size: 18px

    .portfolioTitle, .portfolioTitle.marg
        margin: 40px 0


@media all and (max-width: 580px)
    .verticalLine
        display: none

    .socialLink 
        max-width: 100px
        img
            height: 18px

    .mailNumber
        max-width: 146px
        position: absolute 
        left: 0
        right: 0
        margin: 0 auto

    .mailNumber
        flex-direction: column

    .contactsBox 
        max-width: 100px



@media all and (max-width: 420px)
    .btnSubmit
        width: 110px
        height: 35px
        font-size: 16px

    .poopUpBox iframe 
        margin-top: 6vh

    .mailText, .phoneText 
        font-size: 12px

    .socialLink
        position: relative
        top: 3px

    .mailNumber
        align-items: flex-start

@media all and (max-width: 380px)
    .mailNumber 
        max-width: 130px
        position: absolute
        left: 90px
        right: auto
