html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  border: 0
  font-size: 100%
  font: inherit
  margin: 0
  padding: 0
  vertical-align: baseline

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section, input, textarea, select, button
  display: block


ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote
  &:before, &:after
    content: ''
    content: none

q
  &:before, &:after
    content: ''
    content: none

table
  border-collapse: collapse
  border-spacing: 0

a
  outline: none
  text-decoration: none
  color: #000

body
  overflow-x: hidden
  background-color: #F6F8F9

.flex-box
  display: flex
  align-items: center
  justify-content: space-between

//BANNER

.headerBox
  position: fixed
  left: 0
  top: 0
  right: 0
  z-index: 1000
  width: 100%
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  padding: 10px 0
  box-sizing: border-box
  transition: all .5s
  background: rgba(0,0,0,.5)

.transformHeader
  transform: translate3d(0px, -122px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg)

.headerContent
  position: relative
  max-width: 1110px
  width: 100%
  margin: 0 auto
  @extend .flex-box

.contactsBox
  max-width: 590px
  width: 100%
  @extend .flex-box

.mailNumber
  max-width: 362px
  width: 100%
  @extend .flex-box

.socialLink
  max-width: 170px
  width: 100%
  @extend .flex-box

.verticalLine
  height: 60px
  width: 1px
  background: #fff

.mailText, .phoneText
  font-size: 18px
  color: #fff
  font-family: "Roboto-Bold"

.backgroundBanner
  position: relative
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 100
  display: block
  height: 100%
  justify-content: center
  min-height: 100vh
  overflow: hidden

.contentBanner
  position: relative
  z-index: 1
  display: flex
  height: 100%
  max-width: 1200px
  min-height: 100vh
  margin: 0 auto
  flex-direction: column
  justify-content: center
  flex-wrap: nowrap
  align-items: center

.titleTextBgr
  max-width: 720px
  width: 100%
  margin: 0 auto
  text-align: center
  color: #fff
  line-height: 125px
  font-size: 96px
  margin-top: 95px
  font-family: "BebasNeue-Regular"
  text-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25)

.bgrButtonBox
  max-width: 580px
  width: 100%
  margin: 0 auto
  @extend .flex-box
  margin-top: 60px
  .btnLeft
    max-width: 240px
    width: 100%
    height: 64px
    font-family: "BebasNeue-Bold"
    text-transform: uppercase
    font-size: 24px
    color: #fff
    cursor: pointer
    background: #375FBD
    border: none
    padding-top: 5px
    outline: none
    box-sizing: border-box
    text-align: center
    display: flex
    align-items: center
    justify-content: center
  .btnRight
    max-width: 240px
    width: 100%
    height: 64px
    font-family: "BebasNeue-Bold"
    text-transform: uppercase
    font-size: 24px
    color: #fff
    background: none
    border: solid 2px #fff
    padding-top: 5px
    box-sizing: border-box
    text-align: center
    display: flex
    align-items: center
    justify-content: center

.borderBox
  border-top: 1px solid #fff
  border-bottom: 1px solid #fff
  max-width: 1115px
  width: 100%
  position: relative
  width: 100%
  margin: 0 auto
  text-align: center
  border-radius: 2px
  margin-top: 100px
  padding: 50px 15px
  font-family: "BebasNeue-Bold"
  font-size: 36px
  text-transform: uppercase
  box-sizing: border-box
  color: #fff
  line-height: 45px


.background-video
  position: absolute
  left: 0
  top: 0
  right: 0
  width: 100%
  height: 100%
  background-attachment: scroll,fixed
  video
    background-size: cover
    position: absolute
    right: 0
    bottom: 0
    top: 0
    left: 0
    margin: auto
    min-width: 100%
    min-height: 100%
    z-index: -100

//PORTFOLIO

.portfolioTitle
    color: #333
    font-size: 48px
    font-family: "BebasNeue-Bold"
    text-align: center
    margin: 80px 0

.portfolioBox
  position: relative
  max-width: 1110px
  width: 100%
  margin: 0 auto
  .imgAbsoluteTop
    position: absolute
    right: -140px
    top: -80px
  .imgAbsoluteBottom
    position: absolute
    left: -110px
    bottom: -130px


.videoBoxContainer
  max-width: 1110px
  width: 100%
  margin: 0 auto
  @extend .flex-box
  margin-top: 20px
  .videoBox
    position: relative
    display: flex
    max-width: 545px
    width: 100%
    overflow: hidden
    border-radius: 8px
    z-index: 4
    &:hover .fontsBlock
      opacity: 1
    &:hover .imgTransfotm
        transform: scaleX(1.1) scaleY(1.1) scaleZ(1)
    .fontsBlock
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
      margin: 0 auto
      text-align: center
      height: 100%
      display: flex
      align-items: center
      justify-content: center
      background: rgba(0, 0, 0, .3)
      opacity: 0
      transition: all .5s
      z-index: 1
      p
        max-width: 390px
        width: 100%
        margin: 0 auto
        left: 0
        right: 0
        position: absolute
        bottom: 15px
        font-size: 26px
        color: #fff
        text-transform: uppercase
        font-family: "Roboto-Regular"
    .imgTransfotm
      transition: all .5s

.portfolioTitle.marg
  margin-top: 140px
  margin-bottom: 50px

//POPUP

.poopUpBox
  width: 100%
  height: 100%
  position: fixed
  left: 0
  right: 0
  bottom: 0
  top: 0
  background: rgba(0,0,0,.9)
  z-index: 2000
  display: flex
  align-items: center
  justify-content: center
  padding: 10px
  box-sizing: border-box
  iframe
    display: block
    margin: 0 auto

.imgClose
  width: 20px
  height: 20px
  cursor: pointer
  position: absolute
  top: 50px
  right: 50px



//MILESTONE

.milestoneContainer
  max-width: 1000px
  width: 100%
  margin: 0 auto
  @extend .flex-box
  margin-bottom: 140px

.milestoneBox
  max-width: 560px
  width: 100%
  position: relative

.milestoneBox.borderLft:after
  content: ""
  background: url("../img/Vector 3.svg")
  width: 2px
  height: 108%
  top: 22px
  left: -30px
  position: absolute

.imgBoxS.borderTop:after
  content: ""
  background: url("../img/Vector 3.1.svg")
  width: 120%
  height: 2px
  top: -80px
  left: -30px
  position: absolute

.imgBoxS.borderTop:before
  content: ""
  background: url("../img/Vector 3.svg")
  width: 2px
  height: 138%
  top: -80px
  right: -52px
  position: absolute

.milestoneBox.borderTop:after
  content: ""
  background: url("../img/Vector 3.1.svg")
  position: absolute
  height: 2px
  width: 78%
  top: -76px
  left: -29px

.milestoneBox.borderTop:before
  content: ""
  background: url("../img/Vector 3.svg")
  width: 2px
  height: 145%
  left: -30px
  position: absolute
  top: -18%

.imgBoxS.borderRgt:after
  content: ""
  background: url("../img/Vector 3.1.svg")
  position: absolute
  height: 2px
  width: 120%
  top: -71px
  left: -28px

.imgBoxS.borderRgt:before
  content: ""
  background: url("../img/Vector 3.svg")
  position: absolute
  height: 110%
  width: 2px
  top: -71px
  right: -52px

.milestoneItem
  position: absolute
  left: -34px
  top: 10px


.milestoneTitle
  font-size: 36px
  color: #333
  font-family: "BebasNeue-Bold"
  text-transform: uppercase
  margin: 20px 0
.milestoneHint
  font-size: 21px
  text-transform: uppercase
  color: #333
  font-family: "BebasNeue-Bold"
.milestoneDescription
  font-size: 16px
  color: rgba(51, 51, 51, 0.7)
  font-family: "Roboto-Regular"
  margin: 35px 0
  line-height: 25px
.downloadBtnBr
  display: flex
  align-items: center
  justify-content: center
  width: 190px
  height: 54px
  background: #375FBD
  font-size: 18px
  color: #fff
  text-transform: uppercase
  font-family: "BebasNeue-Bold"
  border: none
  cursor: pointer
  padding-top: 5px

.imgBoxS
  position: relative
  z-index: 1
  .positionAbs
    position: absolute
    z-index: -1
  img
    border-radius: 8px

.milestoneContainerBox > .milestoneContainer:nth-child(1) .imgBoxS .positionAbs
  top: -50px
  right: -65px

.milestoneContainerBox > .milestoneContainer:nth-child(2) .imgBoxS .positionAbs
  top: -50px
  left: -65px

.milestoneContainerBox > .milestoneContainer:nth-child(3) .imgBoxS .positionAbs
  bottom: -80px
  right: -65px

.milestoneContainerBox > .milestoneContainer:nth-child(4) .imgBoxS .positionAbs
  bottom: -80px
  left: -65px


//ADVANTAGES

.advantagesBox
  background: url("../img/Group 2.png")
  background-size: cover
  margin-top: 180px
  text-align: center
  padding: 80px 25px

.advantagesBoxTitle
  font-family: "BebasNeue-Bold"
  font-size: 48px
  color: #fff

.advantageHint
  font-family: "BebasNeue-Bold"
  font-size: 18px
  color: #fff
  margin-top: 15px

.advantagesContainer
  max-width: 1110px
  width: 100%
  margin: 0 auto
  @extend .flex-box
  margin-top: 80px
  .advantage
    max-width: 340px
    width: 100%
    text-align: center
    background: #fff
    border-radius: 8px
    padding: 32px
    box-sizing: border-box
    .advantageTitle
      font-family: "BebasNeue-Bold"
      font-size: 24px
      color: #333
      margin: 25px 0
    .advantageDescription
      color: rgba(51, 51, 51, 0.7)
      font-family: "Roboto-Regular"
      font-size: 16px
      line-height: 32px

.advantage.paddMin
  padding: 32px 15px


//ANSWER - QUESTIONS

.answerQuestionBox
  position: relative
  max-width: 1110px
  width: 100%
  margin: 0 auto
  @extend .flex-box
  margin-top: 140px
  z-index: 2
  .imgAbsoluteTop
    position: absolute
    position: absolute
    z-index: -1
    top: -60px
    left: -85px
    transform: rotate(-25deg)
  .imgAbsoluteBottom
    position: absolute
    position: absolute
    right: -175px
    bottom: 165px
    z-index: -1

.answerBox
  max-width: 540px
  width: 100%

.answerTitle
  font-size: 48px
  color: #333
  font-family: "BebasNeue-Bold"
  text-transform: uppercase
  margin-bottom: 40px

.accordion
  width: 100%

.acr
  border-radius: 8px
  border: 1px solid #B7B7B7
  padding: 20px
  margin-top: 25px
  background-color: #F6F8F9

.accordion .title
  display: flex
  align-items: center
  cursor: pointer
  font-size: 18px
  color: #333
  font-family: "Roboto-Bold"
  img
    margin-right: 15px
    position: relative
    top: 2px

.accordion .content
  display: none
  font-family: "Roboto-Regular"
  padding-left: 30px
  margin-top: 25px
  font-size: 16px

.cameraImg
  height: 700px
  width: 480px
  border-radius: 8px


//FORMS

.formBox
  position: relative
  max-width: 1110px
  width: 100%
  margin: 0 auto
  @extend .flex-box
  margin-top: 140px
  form
    max-width: 480px
    width: 100%
    position: relative
    z-index: 3
    input, textarea
      max-width: 480px
      width: 100%
      border-radius: 8px
      border: 1px solid #B7B7B7
      color: rgba(51, 51, 51, 0.7)
      font-size: 18px
      padding: 17px
      box-sizing: border-box
      outline: none
      margin-bottom: 15px
      background: #F6F8F9
      font-family: "Roboto-Regular"
    textarea
      height: 184px
    .formHint
      font-size: 14px
      text-transform: uppercase
      color: rgba(51, 51, 51, 0.7)
      font-family: "BebasNeue-Regular"
    .positionAbs
      position: absolute
      z-index: -1
      top: 50px
      left: -50px

.formTitle
  font-size: 48px
  color: #333
  font-family: "BebasNeue-Bold"
  text-transform: uppercase
  margin-bottom: 40px

.imgFormBox
  position: relative
  z-index: 1
  .positionAbs
    position: absolute
    z-index: -1
    bottom: -70px
    left: -60px


//FOOTER

.footerBox
  background: #0A1225
  padding: 10px
  margin-top: 140px

.imgForm
  border-radius: 8px

.buttonFile
  max-width: 480px
  width: 100%
  @extend .flex-box
  margin-top: 40px

.file-upload
  width: 110px
  @extend .flex-box
  cursor: pointer

.file-select-name
  font-family: "BebasNeue-Bold"
  color: #375FBD
  font-size: 14px
  text-transform: uppercase
  position: relative
  top: 5px

#chooseFile
  position: absolute
  width: 110px
  height: 20px
  opacity: 0
  cursor: pointer

.downloadBttnF
  width: 110px
  @extend .flex-box
  font-family: "BebasNeue-Bold"
  color: #375FBD
  font-size: 14px
  p
    position: relative
    top: 5px

.btnSubmit
  width: 160px
  height: 44px
  background: #375FBD
  font-size: 18px
  color: #fff
  font-family: "BebasNeue-Bold"
  border: none
  cursor: pointer
  padding-top: 6px

iframe
  max-width: 100%

.addOverflove
  overflow: hidden

.itemBox
  display: flex
  align-items: center
  img 
    position: relative
    top: -4px
    margin-right: 25px

.titleStage
  font-size: 36px
  color: #375FBD
  font-family: "BebasNeue-Bold"
  span 
    margin-left: 10px